[submodule "protocols/wayland"]
	path = protocols/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "protocols/wlr"]
	path = protocols/wlr
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols.git
[submodule "protocols/kde"]
	path = protocols/kde
	url = https://invent.kde.org/libraries/plasma-wayland-protocols.git
[submodule "protocols/weston"]
	path = protocols/weston
	url = https://gitlab.freedesktop.org/wayland/weston.git
[submodule "protocols/libwayland"]
	path = protocols/libwayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "protocols/hyprland"]
	path = protocols/hyprland
	url = https://github.com/hyprwm/hyprland-protocols.git
[submodule "protocols/treeland"]
	path = protocols/treeland
	url = https://github.com/linuxdeepin/treeland-protocols.git
[submodule "protocols/cosmic"]
	path = protocols/cosmic
	url = https://github.com/pop-os/cosmic-protocols.git
