[submodule "protocols/wayland"]
	path = protocols/wayland
	url = https://github.com/wayland-project/wayland-protocols.git
[submodule "protocols/wlr"]
	path = protocols/wlr
	url = https://github.com/swaywm/wlr-protocols.git
[submodule "protocols/kde"]
	path = protocols/kde
	url = https://github.com/KDE/plasma-wayland-protocols.git
